.tt_up {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tt_up_text {
    visibility: hidden;
    max-width: 80%;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 10px; /* Increase padding for better readability */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.507);
}
.tt_up_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
.tt_up:hover .tt_up_text {
    visibility: visible;
    opacity: 1;
}
